@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('/public/fonts/roboto/roboto-light-webfont.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
         url('/public/fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-Light-Italic'), url('/public/fonts/roboto/roboto-lightitalic-webfont.eot');
    src: local('Roboto Light Italic'), local('Roboto-Light-Italic'),
         url('/public/fonts/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'), url('/public/fonts/roboto/roboto-regular-webfont.eot');
    src: local('Roboto'), local('Roboto'),
         url('/public/fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('/public/fonts/roboto/roboto-italic-webfont.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('/public/fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-italic-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Semibold'), local('Roboto-Semibold'), url('/public/fonts/roboto/roboto-medium-webfont.eot');
    src: local('Roboto Semibold'), local('Roboto-Semibold'),
         url('/public/fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-medium-webfont.svg#open_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Semibold Italic'), local('Roboto-Semibold-Italic'), url('/public/fonts/roboto/roboto-mediumitalic-webfont.eot');
    src: local('Roboto Semibold Italic'), local('Roboto-Semibold-Italic'),
         url('/public/fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-mediumitalic-webfont.svg#open_sansmedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/public/fonts/roboto/roboto-bold-webfont.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('/public/fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-Bold-Italic'), url('/public/fonts/roboto/roboto-bolditalic-webfont.eot');
    src: local('Roboto Bold Italic'), local('Roboto-Bold-Italic'),
         url('/public/fonts/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Extrabold'), local('Roboto-Extrabold'), url('/public/fonts/roboto/roboto-black-webfont.eot');
    src: local('Roboto Extrabold'), local('Roboto-Extrabold'),
         url('/public/fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-black-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-black-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-black-webfont.svg#open_sansblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Extrabold Italic'), local('Roboto-Extrabold-Italic'), url('/public/fonts/roboto/roboto-blackitalic-webfont.eot');
    src: local('Roboto Extrabold Italic'), local('Roboto-Extrabold-Italic'),
         url('/public/fonts/roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/roboto/roboto-blackitalic-webfont.woff') format('woff'),
         url('/public/fonts/roboto/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('/public/fonts/roboto/roboto-blackitalic-webfont.svg#open_sansblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
