<div class="tab-pane" id="checksum-example-dotnet">
{% highlight csharp linenos %}
string checkSum = Request.Headers["QuickPay-Checksum-Sha256"];

var bytes = new byte[Request.InputStream.Length];
Request.InputStream.Read(bytes, 0, bytes.Length);
Request.InputStream.Position = 0;
string content = Encoding.ASCII.GetString(bytes);

string compute = sign(content, "your_account_private_key");

if (checkSum.Equals(compute))
{
  // Request is authenticated
}
else
{
  // Request is NOT authenticated
}

private string sign(string base, string api_key) {
  var e = Encoding.UTF8;

  var hmac = new HMACSHA256(e.GetBytes(api_key));
  byte[] b = hmac.ComputeHash(e.GetBytes(base));

  var s = new StringBuilder();
  for (int i = 0; i < b.Length; i++)
  {
    s.Append(b[i].ToString("x2"));
  }

  return s.ToString();
}
{% endhighlight %}
</div>
