<div class="tab-pane active" id="link-example-ruby">
{% highlight ruby linenos %}
# Use the official quickpay-ruby-client gem
require "quickpay/api/client"
client = QuickPay::API::Client.new(api_key: ENV['YOUR_API_USER_KEY'])

tokens  = client.post("/cards/#{card['id']}/tokens")
payment = client.post("/payments",
  :order_id => "0001",
  :currency => "DKK"
)
authorize = client.post("/payments/#{order.payment_id}/authorize?synchronized", {
  amount: 100,
  card: { token: tokens['token'] }
})

{% endhighlight %}
</div>